<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.example.PhotoStream">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AuthActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="ru.ok.android.sdk.OkAuthActivity"
                android:launchMode="singleTask"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:scheme="okauth"
                        android:host="ok409574400" />
            </intent-filter>
        </activity>

        <activity android:name=".StreamActivity">

        </activity>
        <activity android:name=".UploadActivity">

        </activity>
    </application>
</manifest>
